@media screen and (min-width:290px) {

/**********************
General 315px
**********************/

body{
	background:
	/* top, transparent green blue, faked with gradient */ 
	linear-gradient(
	rgb(168,255,120,.6)
	,rgb(120,255,214,.6)
	),
	/* bottom, image */
	 url("../images/dog.jpg")
	 no-repeat
	 fixed;
	color: black;
}

#logo{
	top:.10em;
	left: .25em;
}
#menu{
	top:.05em;
	left:60%;
}

#comment{
	font-size: 2em;
	padding-top:1.5em;
	text-align: center;
}

#bar{
	margin: .5em auto;
}

#side-note{
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 1em;
}

#downward_arrow{
	margin:1em auto 1em;
}

#uppers{
	top:1em;
}

#search{
	margin: 1em 0;
	padding:4em 0 0;
}

#gia-search{
	width:65%;
	border-radius: 2px;
}

#categories table{
	margin: 2em auto;
}
}

@media screen and (min-width:660px) {

/**********************
General 660px
**********************/

#menu{
	left:82%;
}

#downers{
	margin:0 4em;
}

@media screen and (min-width:880px) {

/**********************
General
**********************/

#logo{
	left:3%;
}

#menu{
	left:84%;
}

#navigation{
	width:78.65%;
	margin:0 9em;
}

#comment{
	font-size: 2.65em;
	margin:0 5.5em 0;
	text-align: left;
	line-height: 1.5em;
}

#bar{
	margin: 0;
}

#side-note{
	font-size: 1.5em;
	margin:1em 9.75em 0;
	text-align: left;
}

#downers{
	margin:0 9em;
}

input{
	width: 45em;
}

#categories table{
	margin: 2em auto;
}


