
/*******************
Fonts
*******************/
@font-face {
    font-family:"GetShow";
    src: url("../fonts/getshow.ttf") /* TTF file for CSS3 browsers */
}

@font-face{
	font-family: "Louis-bold";
	src: url("../fonts/lbold.ttf")
}

/*******************
Main
********************/

a:link, a:visited {
	text-decoration:none;
	color: black;
}

a:hover {
	color:#b4b4b4;
	cursor:pointer;
}

body{
	background:
	/* top, transparent green blue, faked with gradient */ 
	linear-gradient(
	rgb(168,255,120,.6)
	,rgb(120,255,214,.6)
	),
	/* bottom, image */
	 url("../images/dog.jpg")
	 no-repeat
	 fixed;
	color: black;
}

#navigation{
	position: fixed;
}

#logo{
 font-family:"GetShow", sans-serif;
 font-size: 3em;
 position: relative;
}

#menu{
 font-family:"GetShow", sans-serif;
 font-size: 3em;
 position: relative;
}

#comment{
	font-family:"Louis-bold", sans-serif;
	position: relative;
}

#bar{
	width: 100px;
	border-bottom: 3px solid black;
}

.trigger-custom{
	border: 2.5px solid black;
	border-radius: 9px;
	background-color:transparent;
	padding:.5em 1em;
	-webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}
.trigger-custom:hover{
  background-color: #b4b4b4; 
}

.downward_arrow{
	display: block;
	width:3em;
	height:3em;
	border: 2.5px solid black;
	background-color:transparent;
	border-radius: 50%;
	margin: 1em auto;
}

.downard_arrow::after{
    content: "↓";
    display: inline-block;
    -webkit-animation: scrolldown 1.5s infinite ease-in-out;
    animation: scrolldown 1.5s infinite ease-in-out;
}

#uppers{
	max-width: 100%;
	height: auto;
	text-align: center;
}

#post{
	margin-top: 8em;
}

#downers{
	margin:0 auto;
	height: 55em;
	background-color: #f0ead6;
	text-align: center;
}

#categories{
	overflow-x:auto;
}
#items{
	margin-top: 2em;
	text-align: none;
}
#items table {
	border-collapse: separate;
    border-spacing: 15px;
   float:left;
}

#items img{
	border-radius: 9px;
}


