.list-group-item {
  line-height: 2.5;
}


 
  .Post { 
    font-size: 20px;  
    position: fixed;     
    text-align: center;    
    bottom: 180px; 
    width: 100%;
    padding-left: -29px; 
    padding-top: 555px;
    color:black;


}  
.Search {
  position:fixed;
text-align:center;
bottom:150px;
padding-top:555px;
padding-left:656px;
margin: 0px;
font-family: Shrikhand, cursive;
color: #1da1f2;
border-color: #1da1f2;
border-style: solid;
border-width: 0px;
  
}

.Categories {
font-size: 30px;
position:fixed;
text-align:center;
bottom:150px;
padding-top:555px;
padding-left:625px;
font-family:  "Times New Roman", Times, serif;
bottom:52px;
color:purple;

}

.Title {
  font-size: 22px;
    position: fixed;
    text-align: center;
    padding-top: 545px;
    padding-left: 525px;
    font-family: "Times New Roman", Times serif;
    bottom: 22px;
    color: darkblue;
}

.Description {
font-size: 27px;
    position: fixed;
    text-align: center;
    padding-top: 545px;
    padding-left: 671px;
    font-family: "Times New Roman", Times serif;
    bottom: -30px;
    border-color: lightyellow;
    color: brown

  
}

.Date-TimePosted
{
font-size: 22px;
    position: fixed;
    text-align: center;
    padding-top: 545px;
    padding-left: 461px;
    bottom: 18px;
    font-family: Shrikhand-cursive;
    color: crimson;
}

.Location
{
  font-size: 22px;
    position: relative;
    text-align: center;
    padding-top: 545px;
    padding-left: 950px;
    bottom: -385px;
    color: steelblue;

}

.btn {
  margin: 0px;
  font-family: Shrikhand, cursive;
  color: #1da1f2;
  background-color: white;
  border-color: #1da1f2;
  border-style: solid;
  border-width: 2px;
}